<div class="__coverImage">
    <div class="__coverImage-text">
        <p>Discover the new concept</p>
        <p class="__coverImage-text-big">Run fast and safer</p>
        <p class="__coverImage-text-little">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <a href="#">Read More</a>
    </div>
    <img class="__coverImage-img" src="https://www.brooksrunning.com/dw/image/v2/BGPF_PRD/on/demandware.static/-/Sites-brooks-master-catalog/default/dwf248ce0c/original/110349/110349-006-a-adrenaline-gts-21-mens-cushion-running-shoe.png?sw=767&sh=767&sm=fit">
</div>