<div class="mainSectionBlue"> 
    <div class="titles">
        <h2 id="products">PRODUCTS</h2>
        <h3>Discover which one fits better for you</h3>
    </div>
    <div class="__products">
        <div class="_products-item">
            <img src="https://www.brooksrunning.com/dw/image/v2/BGPF_PRD/on/demandware.static/-/Sites-brooks-master-catalog/default/dwcb6b3380/original/120337/120337-063-a-revel-4-womens-energy-return-running-shoe.png?sw=1388&sh=868&sm=cut">
            <h4>Premium style</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            <a href="#">Select this</a>
        </div>
        <div class="_products-item">
            <img src="https://www.brooksrunning.com/dw/image/v2/BGPF_PRD/on/demandware.static/-/Sites-brooks-master-catalog/default/dwf248ce0c/original/110349/110349-006-a-adrenaline-gts-21-mens-cushion-running-shoe.png?sw=1388&sh=868&sm=cut">
            <h4>Day-to-day style</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            <a href="#">Select this</a>
        </div>
        <div class="_products-item">
            <img src="https://www.brooksrunning.com/dw/image/v2/BGPF_PRD/on/demandware.static/-/Sites-brooks-master-catalog/default/dw8e07dff8/original/120353/120353-135-a-adrenaline-gts-22-womens-supportive-cushion-running-shoe.png?sw=1388&sh=868&sm=cut">
            <h4>Elegant style</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            <a href="#">Select this</a>
        </div>
        <div class="_products-item">
            <img src="https://www.brooksrunning.com/dw/image/v2/BGPF_PRD/on/demandware.static/-/Sites-brooks-master-catalog/default/dw1d1d64f5/original/110357/110357-095-a-glycerin-gts-19-mens-supportive-cushion-running-shoe.png?sw=1388&sh=868&sm=cut">
            <h4>Casual style</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            <a href="#">Select this</a>
        </div>
    </div>   
</div>
