<div class="mainSectionPink"> 
    <div class="titles">
        <h2 id="us">ABOUT US</h2>
        <h3>Know a bit more about who we are</h3>
    </div>

    <div class="__profiles">
        <div class="__profiles-person">
            <img src="https://la.one-line.com/sites/g/files/lnzjqr1466/files/styles/pre_defined_small/public/CEO_image.png?itok=5RplOae9" alt="">
            <div class="__profiles-person-text">
                <p>CEO</p>
                <p>John Maverick</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque fugit dolore aliquam velit recusandae animi quia</p>
            </div>
        </div>
        
        <div class="__profiles-person">
            <div class="__profiles-person-text">
                <p>CTO</p>
                <p>Patrick Jones</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque fugit dolore aliquam velit recusandae animi quia</p>
            </div>
            <img src="https://l-a-b-a.pl/uploads/courses/ceo-dyrektor-zarzadzajacy/222-min.png" alt="">
        </div>
        <div class="__profiles-person">
            <img src="https://www.4people.pl/upload/images/employee/big/karolina-wojciechowska-hobby.png" alt="">
            <div class="__profiles-person-text">
                <p>VP</p>
                <p>Natasha Romanov</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque fugit dolore aliquam velit recusandae animi quia</p>
            </div>
        </div>

    </div>
</div>